# SWE402 - Assignmenrt - Bank Account Fraud Dataset Suite (NeurIPS 2022) Data Mining
### -- Group

## Table of Content

* 1. [Introduction](#1-Introduction)<br>
    * 1.1 [Introduce the topic](#11-introduce-the-topic) <br>
    * 1.2 [Research questions](#12-research-questions)<br>
    * 1.3 [Objective / purpose](#13-objective--purpose)<br>    
* 2. [Dataset Description and Reference](#2-dataset-description-and-reference)<br>
* 3. [Descriptive with Code](#3-descriptive-with-code) <br>
    * 3.1 [Dataset feature description](#31-dataset-feature-description)<br>
    * 3.2 [Preprocess the data](#32-preprocess-the-data)<br>
    * 3.3 [Data structure](#33-data-structure)<br>
    * 3.4 [Summary table](#34-summary-table)
    * 3.5 [Data visualization for showing data distribution](#35-data-visualization-for-showing-data-distribution)
* 4. [Analysis](#4-analysis)<br>
    * 4.1 [For Question: What are correlations between different variables like?](#41-for-question-what-are-correlations-between-different-variables-like)
    * 4.2 [t-Test](#42-t-test)
    * 4.3 [Linear Regression](#43-linear-regression)
    * 4.4 [Data Visualization for Analysis](#44-data-visualization-for-analysis)
        * 4.4.1 [For Question: How does WRI change over time?](#441-for-question-how-has-the-global-disaster-risk-index-changed-over-time-are-there-any-patterns-or-trends-in-the-data)
        * 4.4.2 [For Question: Which is most/least vunerable region?](#442-for-question-which-regions-are-most--least-vulnerable-to-natural-disasters)
    * 4.5 [Machine learning models to predict likelihood](#45-machine-learning-models-to-predict-likelihood)
    * 4.6 [Other analysis](#46-other-analysis)
* 5. [Conclusion / Findings](#5-conclusion--findings)

# 1. Introduction

### <b>1.1 Introduce the topic</b><a class="anchor" id="11-introduce-the-topic"></a>

### <b>1.2 Research questions</b><a class="anchor" id="12-research-questions"></a>

### <b>1.3 Objective / Purpose</b><a class="anchor" id="13-objective--purpose"></a>

# 2. Dataset Description and Reference

### <b>2.1 Introduce the dataset</b>

### <b> 2.2 Dataset Source </b>
<ul>
    <li><a>https://www.kaggle.com/datasets/sgpjesus/bank-account-fraud-dataset-neurips-2022</a></li>
</ul>

### <b> 2.3 Reference </b>
<ul>
    <li>
        Placeholder
    </li>
</ul>
<br>

# 3. Descriptive with Code

Load main Python libraries

In [3]:
import os
import numpy as np # import NumPy library for numerical computing
import pandas as pd # import Pandas library for data manipulation
import seaborn as sns # import Seaborn library for data visualization
import matplotlib.pyplot as plt # import pyplot module from Matplotlib library for creating plots
import math # provide standard mathematical constants and functions
import warnings
warnings.filterwarnings("ignore")

plt.rcParams['axes.unicode_minus'] = False # display the minus sign
plt.rcParams.update({'font.size': 16}) # increase fontsize of plots
plt.rc('font', family = 'Times New Roman') # set the font of plots to Times New Roman

# render plots into output cells directly
%matplotlib inline
pd.set_option('display.max_columns', 200) #

<b>Read data from CSV</b>

In [9]:
baseDf = pd.read_csv("archive/Base.csv", na_values = '?') # load the CSV file into a dataframed
# baseDf # print dataframe
# va1Df = pd.read_csv("archive/Variant I.csv", na_values = '?') # load the CSV file into a dataframed
# va1Df # print dataframe
# va2Df = pd.read_csv("archive/Variant II.csv", na_values = '?') # load the CSV file into a dataframed
# va2Df # print dataframe
# va3Df = pd.read_csv("archive/Variant III.csv", na_values = '?') # load the CSV file into a dataframed
# va3Df # print dataframe
# va4Df = pd.read_csv("archive/Variant IV.csv", na_values = '?') # load the CSV file into a dataframed
# va4Df # print dataframe
# va5Df = pd.read_csv("archive/Variant V.csv", na_values = '?') # load the CSV file into a dataframed
# va5Df # print dataframe

In [16]:
baseDf.shape

(1000000, 32)

In [12]:
baseDf.info() # print information about the dataframe
# va1Df.info() # print information about the dataframe
# va2Df.info() # print information about the dataframe
# va3Df.info() # print information about the dataframe
# va4Df.info() # print information about the dataframe
# va5Df.info() # print information about the dataframe

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000000 entries, 0 to 999999
Data columns (total 34 columns):
 #   Column                            Non-Null Count    Dtype
---  ------                            --------------    -----
 0   fraud_bool                        1000000 non-null  int64
 1   income                            1000000 non-null  float64
 2   name_email_similarity             1000000 non-null  float64
 3   prev_address_months_count         1000000 non-null  int64
 4   current_address_months_count      1000000 non-null  int64
 5   customer_age                      1000000 non-null  int64
 6   days_since_request                1000000 non-null  float64
 7   intended_balcon_amount            1000000 non-null  float64
 8   payment_type                      1000000 non-null  object
 9   zip_count_4w                      1000000 non-null  int64
 10  velocity_6h                       1000000 non-null  float64
 11  velocity_24h                      1000000 non-null  float64
 12  velocity_4w                       1000000 non-null  float64
 13  bank_branch_count_8w              1000000 non-null  int64
 14  date_of_birth_distinct_emails_4w  1000000 non-null  int64
 15  employment_status                 1000000 non-null  object
 16  credit_risk_score                 1000000 non-null  int64
 17  email_is_free                     1000000 non-null  int64
 18  housing_status                    1000000 non-null  object
 19  phone_home_valid                  1000000 non-null  int64
 20  phone_mobile_valid                1000000 non-null  int64
 21  bank_months_count                 1000000 non-null  int64
 22  has_other_cards                   1000000 non-null  int64
 23  proposed_credit_limit             1000000 non-null  float64
 24  foreign_request                   1000000 non-null  int64
 25  source                            1000000 non-null  object
 26  session_length_in_minutes         1000000 non-null  float64
 27  device_os                         1000000 non-null  object
 28  keep_alive_session                1000000 non-null  int64
 29  device_distinct_emails_8w         1000000 non-null  int64
 30  device_fraud_count                1000000 non-null  int64
 31  month                             1000000 non-null  int64
 32  x1                                1000000 non-null  float64
 33  x2                                1000000 non-null  float64
dtypes: float64(11), int64(18), object(5)
memory usage: 259.4+ MB

In [13]:
baseDf.describe() # print descriptive statistics of the dataframe
# va1Df.describe() # print descriptive statistics of the dataframe
# va2Df.describe() # print descriptive statistics of the dataframe
# va3Df.describe() # print descriptive statistics of the dataframe
# va4Df.describe() # print descriptive statistics of the dataframe
# va5Df.describe() # print descriptive statistics of the dataframe

,fraud_bool,income,name_email_similarity,prev_address_months_count,current_address_months_count,customer_age,days_since_request,intended_balcon_amount,zip_count_4w,velocity_6h,...,phone_mobile_valid,bank_months_count,has_other_cards,proposed_credit_limit,foreign_request,session_length_in_minutes,keep_alive_session,device_distinct_emails_8w,device_fraud_count,month
count,1000000.000000,1000000.000000,1000000.000000,1000000.000000,1000000.000000,1000000.000000,1.000000e+06,1000000.000000,1000000.000000,1000000.000000,...,1000000.000000,1000000.000000,1000000.000000,1000000.000000,1000000.000000,1000000.000000,1000000.000000,1000000.000000,1000000.0,1000000.000000
mean,0.011029,0.562696,0.493694,16.718568,86.587867,33.689080,1.025705e+00,8.661499,1572.692049,5665.296605,...,0.889676,10.839303,0.222988,515.851010,0.025242,7.544940,0.576947,1.018312,0.0,3.288674
std,0.104438,0.290343,0.289125,44.046230,88.406599,12.025799,5.381835e+00,20.236155,1005.374565,3009.380665,...,0.313293,12.116875,0.416251,487.559902,0.156859,8.033106,0.494044,0.180761,0.0,2.209994
min,0.000000,0.100000,0.000001,-1.000000,-1.000000,10.000000,4.036860e-09,-15.530555,1.000000,-170.603072,...,0.000000,-1.000000,0.000000,190.000000,0.000000,-1.000000,0.000000,-1.000000,0.0,0.000000
25%,0.000000,0.300000,0.225216,-1.000000,19.000000,20.000000,7.193246e-03,-1.181488,894.000000,3436.365848,...,1.000000,-1.000000,0.000000,200.000000,0.000000,3.103053,0.000000,1.000000,0.0,1.000000
50%,0.000000,0.600000,0.492153,-1.000000,52.000000,30.000000,1.517574e-02,-0.830507,1263.000000,5319.769349,...,1.000000,5.000000,0.000000,200.000000,0.000000,5.114321,1.000000,1.000000,0.0,3.000000
75%,0.000000,0.800000,0.755567,12.000000,130.000000,40.000000,2.633069e-02,4.984176,1944.000000,7680.717827,...,1.000000,25.000000,0.000000,500.000000,0.000000,8.866131,1.000000,1.000000,0.0,5.000000
max,1.000000,0.900000,0.999999,383.000000,428.000000,90.000000,7.845690e+01,112.956928,6700.000000,16715.565404,...,1.000000,32.000000,1.000000,2100.000000,1.000000,85.899143,1.000000,2.000000,0.0,7.000000

In [15]:
baseDf.isna().sum() # print the number of missing values in each column

fraud_bool                          0
income                              0
name_email_similarity               0
prev_address_months_count           0
current_address_months_count        0
customer_age                        0
days_since_request                  0
intended_balcon_amount              0
payment_type                        0
zip_count_4w                        0
velocity_6h                         0
velocity_24h                        0
velocity_4w                         0
bank_branch_count_8w                0
date_of_birth_distinct_emails_4w    0
employment_status                   0
credit_risk_score                   0
email_is_free                       0
housing_status                      0
phone_home_valid                    0
phone_mobile_valid                  0
bank_months_count                   0
has_other_cards                     0
proposed_credit_limit               0
foreign_request                     0
source                              0
session_length_in_minutes           0
device_os                           0
keep_alive_session                  0
device_distinct_emails_8w           0
device_fraud_count                  0
month                               0
dtype: int64